STRIPE_SECRET_KEY*
STRIPE_PUBLISHABLE_KEY*
SUPABASE_SECRET_KEY*
SUPABASE_PUBLISHABLE_KEY*
SUPABASE_URL*
.env
# Local Netlify folder
.netlify
# Local context file for Claude (internal notes, keep out of public repo)
CLAUDE.md
